
TanksVS/TanksVS/obj/TanksVS.csproj.nuget.g.targets
TanksVS/TanksVS/obj/TanksVS.csproj.nuget.g.props
TanksVS/TanksVS/obj/TanksVS.csproj.nuget.dgspec.json
TanksVS/TanksVS/obj/project.nuget.cache
TanksVS/TanksVS/obj/project.assets.json
*.cache
*.BuildWithSkipAnalyzers
TanksVS/.vs/ProjectEvaluation/tanksvs.projects.v6.1
TanksVS/.vs/TanksVS/DesignTimeBuild/.dtbcache.v2
TanksVS/.vs/TanksVS/FileContentIndex/21b78dbb-d0be-44b8-ae0a-c550eb92c4b5.vsidx
TanksVS/.vs/TanksVS/FileContentIndex/9a1cc563-b8b6-4174-8705-bcbb399fe347.vsidx
TanksVS/.vs/TanksVS/FileContentIndex/bc760ce4-3c7e-4087-bf59-f8b359f698d5.vsidx
TanksVS/.vs/TanksVS/FileContentIndex/read.lock
TanksVS/.vs/TanksVS/v17/.futdcache.v2
TanksVS/.vs/TanksVS/v17/.suo
TanksVS/TanksVS/.config/dotnet-tools.json
TanksVS/TanksVS/app.manifest
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.Direct2D1.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.Direct3D11.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.Direct3D9.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.DXGI.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.Mathematics.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.MediaFoundation.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.XAudio2.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/SharpDX.XInput.dll
TanksVS/TanksVS/bin/Debug/net6.0-windows/TanksVS.runtimeconfig.json
TanksVS/TanksVS/Content/obj/Windows/net6.0-windows/Content/.mgcontent
TanksVS/TanksVS/Content/obj/Windows/net6.0-windows/Content/.mgstats
*.txt
TanksVS/TanksVS/obj/Debug/net6.0-windows/TanksVS.csproj.CopyComplete
TanksVS/TanksVS/obj/Debug/net6.0-windows/TanksVS.GeneratedMSBuildEditorConfig.editorconfig
TanksVS/.vs/ProjectEvaluation/tanksvs.metadata.v6.1
